<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.gulanthys.system.mapper.MenuMapper">

    <select id="selectPermsByUserId" resultType="java.lang.String">
        select distinct m.perms
        from sys_uid_role ur
                 LEFT JOIN sys_role r ON ur.role_id = r.id
                 LEFT JOIN sys_role_menu rm ON ur.role_id = rm.role_id
                 LEFT JOIN sys_menu m ON m.id = rm.menu_id
        where uid = #{userid}
          and r.status = 0
          and m.status = 0
    </select>
</mapper>